# --------------------------
# Frontend
# --------------------------
frontend/node_modules/
frontend/.env
frontend/.next/

# --------------------------
# Backend
# --------------------------
backend/.env
backend/.venv/
backend/__pycache__/
backend/**/*.pyc      # remove all pyc files in subfolders


# --------------------------
# Common
# --------------------------
.env
*.env
*.log
.DS_Store

# --------------------------
# Editor/IDE
# --------------------------
.vscode/
.idea/

**/__pycache__/
*.pyc