# Google OAuth Configuration
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# JWT Configuration
SECRET_KEY=72af2d7bcf3df004b3bb6ef6cc0e95fef93f91080148cd6218b1f785cbe37411
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=30

# URLs
FRONTEND_URL=http://localhost:3000
BACKEND_URL=http://localhost:8000

# Format: mysql+pymysql://username:password@host:port/database_name
DATABASE_URL=mysql+pymysql://username:password@host:port/database_name